.main {
  margin-top: 4rem;
  label {
    width: 12em;
    height: 2.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    padding: 0.5em 0;
    transition: border 300ms ease;
    cursor: pointer;
    text-align: center;
    margin-bottom: 2em;
    svg {
      margin-right: 0.5em;
      color: #000;
    }
  }
  .title {
    margin-top: 0.2em;
    color: #000;
  }
  input[type='file'] {
    outline: 0;
    opacity: 0;
    pointer-events: none;
    user-select: none;
  }
  h3 {
    width: 100vw;
    padding: 1em 0 0.5em 1em;
  }
}
.cropImage {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  justify-content: center;
  align-items: center;
  width: 100%;
  > button {
    background-color: #ccc;
    border: 1px solid rgb(165, 161, 161);
    border-radius: 1rem;
    margin-top: 1rem;
  }
}
