.home_container {
  margin: 0;
  display: flex;
  padding: 0;
  justify-content: space-around;
  // align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  a {
    // width: 8em;
    height: 10em;
    margin: 0;
    padding: 0;
    > .container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10em;
      height: 10em;
      // padding: 3px;
      border: 1px solid #ccc;
      box-sizing: border-box;
      text-align: center;
      > div {
        height: 10em;
        line-height: 10em;
        > p {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}
