.list_container {
    font-family: Helvetica, sans-serif;
    margin-top: 1.2em;
    position: relative;
    .preloader_block {
      position: absolute;
      top: 0;
      margin: 0;
      padding: 0;
    }
    .sort_block {
      // margin: 10px;  
      padding: 1em;
      .sort_btns {
        button {
          border: none;
          border-radius: 0.2em;
          outline: none;
          padding: 0.3em 0.6em;
          margin-right: 0.5em;
        }
        .active {
          color: #1e8bfa;
        }
      }
    }
  }

