.signin_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  form {
    min-width: 15em;
    min-height: 15em;
    > h2 {
      text-align: center;
    }
  }
}
