.signin_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  .signin_block {
    a {
      text-align: center;
    }
  }
  form {
    min-width: 15em;
    min-height: 13em;
    margin-bottom: 0.5em;
    > h2 {
      text-align: center;
    }
    button {
      margin: 0 auto;
      
    }
  }
}
